# Ignore data files since they're so large.
.ipynb_checkpoints

# Don't ignore the metadata file, I made changes to it
data/credits.csv
data/ratings.csv
data/ratings_small.csv
data/links.csv
data/links_small.csv
data/keywords.csv