# Ignore data files since they're so large.
# Probably just ignore a data directory
data/*.csv
.ipynb_checkpoints

# Don't ignore the metadata file, I made changes to it
!data/movies_metadata.csv
!data/actors.csv